<div class="container-fullwidth" id="main">
  <nav class="navbar navbar-inverse" style="border-radius:0px;" >
    <div class="container">
        <%#= link_to "Home", root_path, class="navbar-brand"%>
        <ul class="nav navbar-nav pull-right">
          <% if current_user %>
          <li> <%= link_to "Messages", messages_path %> </li>
          <li> <%= link_to "Sign out", signout_path %> </li>
        <% else %>
          <li> <%= link_to "Sign in", signin_path %> </li>
        <% end %>
        </ul>
      </div>
  </nav>
</div>
